/********* POLAROID *********/
/****************************/

#accueilBlocks
{
	text-align:center;
    padding:0;
}

.accueilBlocks-images{
	display: inline-block;
}

.accueilBlocks-images div
{
	display: inline-block;
	margin: 0 0 20px;
	padding: 10px 10px 10px;
    z-index:0;
}

/************* LINK *************/
/********************************/

.accueilBlocks-images img{
    -webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	transition: all 0.2s linear;

    border: 2px solid rgba(0, 0, 0, 0);
}

.accueilBlocks-images img:hover, .accueilBlocks-images img:focus, .accueilBlocks-images img:active{
    border: 2px solid #c13030;
}
