.title
{
	margin-top:40px;
	
}

.iconesContainerContact p
{
	font-size:1.5em;
}
.iconeContact
{
	margin:auto;
	text-align :center;
	padding-top : 20px;
	padding-bottom : 20px;
}

.container img{
    margin-bottom:20px;
}



.title
{
	color : #be1623;
}

h1{
	font-weight: normal;
	font-size: 4em;
	margin: 0 auto;
	margin-top: 30px;
	width: 100%;
	color: #F90;
	text-align: center;
}

p{
    text-align:center;
    font-weight: bold;
    /*
    ATTENTION AU P GENERAL DECALRE DANS LE MAIN.CSS
    */
}


#form{
	height: 100%;	
	overflow: hidden;
}
form{
	max-width: 566px;
	margin: 0 auto;
	width: 100%;
	padding-top: 40px;
	margin-bottom:60px;
}

input, textarea{
	width: 100%;	
	border: none;
	border-radius: 20px;
	outline: none;
	padding: 10px;
	font-size: 1em;
	color: #676767;
	border: solid 3px #be1623;	
	box-sizing:border-box;
}
input:focus, textarea:focus{
	border: solid 3px #77bde0;	
}
textarea{
	height: 100px;	
	resize: none; 
	overflow: auto;
}
input[type="submit"]{
    font-family: "Abel";
    font-size:1.2em;
    
	background-color: #be1623;
	color: white;
	height: 50px;
	cursor: pointer;
	margin-top: 30px;
	font-size: 1.29em;
	-webkit-transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
	transition: background-color 0.5s;
	
	-webkit-transition: border-color 0.5s;
	-moz-transition: border-color 0.5s;
	-o-transition: border-color 0.5s;
	transition: border-color 0.5s;
}
input[type="submit"]:hover{
	background-color: #77bde0;
	border-color: #77bde0;
}
label{
	font-size: 1.5em;
	margin-top: 20px;
	padding-left: 20px;
    font-weight: bold;
}

.formgroup, .formgroup-active, .formgroup-error{
	width :100%;
	max-width: 566px;
	margin : auto;
	padding-top: 2px;
}
