footer
{
	margin-top:150px;
    background-color: #be1623;
    height: 150px;
}

footer p
{
	margin:auto;
	padding-top:15px;
	color:white;
	font-size:1.5em;
    text-align: center;

}

.reseaux 
{
	margin-top: 20px;
	width: 100%;
	text-align: center;
}
	
.reseaux ul
{
	list-style-type: none;
	margin: 2px auto;
	line-height: 1.4;
	padding-left: 0;
}
	
.reseaux ul li 
{
	margin-right:10px;
	margin-left:10px;
	display: inline;
	text-align: center;
}

.reseaux ul li img
{
	width :48px;
}