.navbar-brand {
  padding: 0px; /* firefox bug fix */
}
.navbar-brand>img {
  height: 100%;
  padding: 0px; /* firefox bug fix */
  width: auto;
}

.navbar{
    text-transform: uppercase;
    font-family: "Pompiere";
    font-weight: bold; 

}


@media screen and (min-width: 767px) {
	
	
	
.navbar-nav > li > a, .navbar-brand {
    padding-top:4px !important; 
    padding-bottom:0 !important;
    height:80px;
	line-height: 80px; /* hauteur de ligne (identique) */
	white-space: nowrap; /* interdiction de passer à la ligne */
}
.navbar {min-height:28px !important;}


}

@media screen and (max-width: 767px) {
    .navbar-nav > li > a, .navbar-brand {
		height:80px;
	line-height: 80px; /* hauteur de ligne (identique) */
    padding-top:4px !important; 
    padding-bottom:0 !important;
    height:50px;
}
	.navbar {min-height:50px !important;}
}