body {
  padding-top: 50px;
  background-image :url("../images/crossword.png");
}

h1{
    color:black;  
    font-family: "Pompiere";
    margin: 40px 0;
    font-size:4.5em;
    color:#be1623;
}

h2{
    color:dimgray;  
    font-family: "Pompiere";
    margin: 20px 0;
}

p, formgroup, label{
    color:#222;
    font-family: "Abel";
    text-align: justify;
    font-size:1.2em;
}



/****** FONT ******/
@font-face {
  font-family: 'Pompiere';
  font-style: normal;
  font-weight: 400;
  src: url(http://fonts.gstatic.com/s/pompiere/v6/mwrKIrrwFdsa6WVUljlH1vesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  src: url(http://fonts.gstatic.com/s/abel/v6/brdGGFwqYJxjg2CD1E9o7g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Marker';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Markus_Ink.ttf) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/***** headerban *****/


.headerbanlayer{
	background-image:url("../images/menu.png"); 
	background-repeat:repeat-x; 
	height:100px; 
	width:100%;
    display:none;
}

.headerbanimg{
	/*background-image:url("../images/banimage.jpg");*/
	height:400px; 
	width:100%;
    position: relative;
    height: 60vh;
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
    margin-bottom: 60px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar-default .navbar-nav>li>a
{
	font-size:22px;
	color:#be1623;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

