/********* POLAROID *********/
/****************************/

#membres
{
	text-align:center;
    margin-top:30px;
}

#membres a
{
	text-decoration: none;
}

#membres p
{
	text-align : center;
    font-family: "Marker";
    font-size: 30px;
    
}

#membre p::first-child {
    font-weight: bold;
}

.polaroid-images{
	display: inline-block;
    padding: 0 9px;
    /*
    background:url('../images/pinboard.jpg');
    border:1px solid black;
    border-radius:70px;
    */
}

.polaroid-list
{
	background: white;
	display: inline-block;
	
	margin: 0 0 20px;
	padding: 20px 20px 20px;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
	box-shadow: 0 4px 6px rgba(0,0,0,.3);
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
	z-index:0;
    position:relative;
}

.polaroid-images img { 
	display: block; 
	width: inherit; 
    border:black 1px solid;
}

.polaroid-vignette{
    -moz-box-shadow: inset 0 0 9em 0.1em rgba(0,0,0,0.7) ;  
    -webkit-box-shadow: inset 0 0 9em 0.1em rgba(0,0,0,0.7) ;   
    box-shadow: inset 0 0 9em 0.1em rgba(0,0,0,0.7) ;
    position:absolute;
    width:252px;
    height:252px;
}

.polaroid-images p{
	padding-top:10px;
	margin:0;
}


/***** ROTATIONS BASIQUE *****/
/*****************************/
/*
.polaroid-images div:nth-child(1n)
{
	-webkit-transform: rotate(-1deg);  
	-moz-transform: rotate(-1deg); 
	transform: rotate(-1deg); 
}
.polaroid-images div:nth-child(2n)
{
	-webkit-transform: rotate(2deg);  
	-moz-transform: rotate(2deg); 
	transform: rotate(2deg); 
}   
.polaroid-images div:nth-child(3n) { 
	-webkit-transform: rotate(-1deg);  
	-moz-transform: rotate(-1deg); 
	transform: rotate(-1deg); 
}
.polaroid-images div:nth-child(4n)
{
	-webkit-transform: rotate(2deg);  
	-moz-transform: rotate(2deg); 
	transform: rotate(2deg); 
}
.polaroid-images div:nth-child(5n)
{
	-webkit-transform: rotate(-1deg);
	-moz-transform: rotate(-1deg); 
	transform: rotate(-1deg); 
}
*/

/********** HOVER ***********/
/****************************/

.polaroid-images div:hover{
	/*
    -webkit-transform: rotate(0deg); 
	-moz-transform: rotate(0deg);
        transform: rotate(0deg);
	-webkit-transform: scale(1); 
	-moz-transform: scale(1);
        transform: scale(1);
	z-index:10;
	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
	-moz-box-shadow: 0 10px 20px rgba(0,0,0,.7);
        box-shadow: 0 10px 20px rgba(0,0,0,.7);
    */
}
/*
.circle
{
    border-radius:50px;
    color:red;
    text-align:center;
    background-color:red;
    padding:0;
    margin:auto;
    margin-bottom:5px;
    width:25px;
    height:25px;
    
    -webkit-box-shadow: 0 4px 4px rgba(25, 0, 0, .2);
	-moz-box-shadow: 0 4px 4px rgba(25,0,0,.2);
	box-shadow: 0 4px 4px rgba(25,0,0,.2);
}
*/