.spectacle
{
	background-color:white;

	margin-left:15px;
	margin-right:15px;
	margin-top:20px;
	
	padding:0;
	
}


@media screen and (min-width: 992px) {
    .spectacle
    {
        align-items: center;
        display: flex;
        justify-content: center;
    }
}

.textZone
{
	padding-bottom:10px;
}

.textZone h2
{
	text-align:center;
}

.imageZone
{
	margin:0;
	padding:0;
}

.imageZone img
{
	margin:0;
	padding:0;
}
    


