@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700);
.pricing-table {
  position: relative;
  display: inline-block;
  margin: 10px 5px 0px 0px;
  width: 300px;
  background: #ffffff;
  font-family: Roboto, Helvetica, sans-serif;
  text-align: center;
}
.basic {
  border: 3px solid #be1623;
}
.pricing-table span {
  display: block;
}
.table-head {
  padding: 25px 0;
  font-size: 28px;
  font-weight: bold;

}
.basic .table-head {
    background: #be1623;
    color:#fff;
}
.price {
  padding: 8px 0;
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
}
.basic .price {
    background: #f7f7f7;
    color:#be1623;
}
.table-row {
  padding: 10px 0;
  font-size: 14px;
  font-weight: 400;
  color: #888;
}
.table-row:nth-child(2n) {
  background: #f7f7f7;
}


.fluidCont
{
	margin:auto;
	text-align: center;
}
