<!DOCTYPE html>
<html lang="fr">
    
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if header.description %}
        <meta name="description" content="{{ header.description }}">
        {% else %}
        <meta name="description" content="{{ site.description }}">
        {% endif %}
        {% if header.robots %}
        <meta name="robots" content="{{ header.robots }}">
        {% endif %}
        <link rel="icon" type="image/png" href="{{ theme_url }}/images/favicon.png">
        

        <title>{% if header.title %}{{ header.title }} | {% endif %}{{ site.title }}</title>

        {% block stylesheets %}
            {# Bootstrap core CSS #}
            {% do assets.addCss('theme://css/bootstrap.min.css',1000) %}

        {# Custom styles for this theme #}
            {% do assets.addCss('theme://css/main.css',900) %}
            {% do assets.addCss('theme://css/footer.css',110) %}
            {% do assets.addCss('theme://css/header.css',110) %}
			{% do assets.addCss('theme://FancyBox/jquery.fancybox.css',110) %}
        {{ assets.css() }}
        
        {% endblock %}

        {% block javascripts %}
            {% do assets.add('https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js', 101) %}
            {% do assets.add('theme://js/bootstrap.min.js') %}
			
			{% do assets.add('theme://FancyBox/jquery.fancybox.pack.js') %}

            {% if browser.getBrowser == 'msie' and browser.getVersion >= 8 and browser.getVersion <= 9 %}
                {% do assets.add('https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js') %}
                {% do assets.add('https://oss.maxcdn.com/respond/1.4.2/respond.min.js') %}
            {% endif %}

            {{ assets.js() }}
        {% endblock %}

        {% endblock head %}
    </head>
    
    <body class="{% block body_classes %}{{ page.header.body_classes }}{% endblock %}">
        {% block header_navigation %}
            {% include 'partials/navigation.html.twig' %}
        {% endblock %}
        <div class="parallax">
            <div class="headerbanimg" style="
			{% if page.title == 'Acceuil' %}
				background-image :url('{{theme_url}}/images/banimage_accueil.jpg')
			{% elseif  page.title == 'Odyssée Théâtre'%}
				background-image :url('{{theme_url}}/images/banimage_odyssee.jpg')
			{% elseif  page.title == 'Tasse de Thé'%}
				background-image :url('{{theme_url}}/images/banimage_troupeecole.jpg')
			{% elseif  page.title == 'Contact'%}
				background-image :url('{{theme_url}}/images/banimage_contact.jpg')
			{% endif %}
			"
			>
                <div class="headerbanlayer">
				
                </div>
            </div>
        </div>
		
        {% block content %}{% endblock %}
        
        <!-- Footer -->

        <footer class="footer">
            <p>"La Troupe Ecole" vous remercie, suivez nous sur les reseaux sociaux!!!</p>
			<div class="reseaux"> 
				<ul >
					<li><a href="https://www.facebook.com/Odyss%C3%A9e-Th%C3%A9%C3%A2tre-page-officielle-148905835151716/?fref=ts" target="_blank"><img src="{{theme_url}}/images/facebook.png" alt="Logo cliquable facebook"/></li>
					<li><a href="https://twitter.com/" target="_blank"><img src="{{theme_url}}/images/twitter.png" alt="Logo cliquable twitter"/></a></li>
                    <li><a href="contact" target="_blank"><img src="{{theme_url}}/images/mail.png" alt="Logo cliquable mail"/></a></li>
				</ul>
			</div>
        </footer>


        {% block bottom %}{% endblock %}
    </body>
    
</html>
    
    
