
{% embed 'partials/base.html.twig' %}

	{% set collection = page.collection() %}
	{% set base_url = page.url %}
    {% set feed_url = base_url %}

    {% if base_url == '/' %}
        {% set base_url = '' %}
    {% endif %}

    {% if base_url == base_url_relative %}
        {% set feed_url = base_url~'/'~page.slug %}
    {% endif  %}

    {# Custom styles for this theme #}
        {% do assets.add('theme://css/accueil.css',100) %}


	{% block content %}
        <div class="container">
            <!-- Body -->
            <div class="row">
                <div class="col-lg-12">
                    <!--- PRESENTATION ACCUEIL -->
                    <article id="presentationAccueil">
                        <h1>Lorem Ipsum</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae ipsum vitae metus luctus volutpat vitae eget eros. Quisque dapibus aliquet egestas. Nunc condimentum ac ante a varius. Sed id scelerisque nulla. Sed accumsan euismod metus id dapibus. Fusce euismod interdum nisi, in fringilla velit feugiat vitae. Maecenas nec lobortis neque, vitae posuere purus. Vestibulum vitae iaculis ex. Nam auctor neque vel urna venenatis, eget placerat justo tempor. Integer libero ex, fermentum eget egestas in, viverra quis quam. Aenean efficitur nibh est, non consectetur mi mollis sed. Donec vel massa et nisl placerat aliquam. Maecenas eu justo interdum, aliquam augue sodales, pharetra augue.</p>
                    </article> 
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12" id="accueilBlocks">
                    <div class="col-lg-12 accueilBlocks-images">
                        <div class="col-lg-6 presentationOdyssee">
                            <h1>Cote cours - Odyssée Théâtre</h1>
                            <h2>Venez pour en profiter</h2>

                            <a href="odyssee-page">
                                <img src="{{theme_url}}/images/coverodyssee.jpg"  style="width:450px;height:450px;">
                            </a>
                        </div>  
						<div class="col-lg-6 presentationTasseDeThe">
                            <h1>Cote Jardin - La Troupe École</h1>
                            <h2>Venez bien vous amusez</h2>
                            <a href="troupe-page">
                                <img src="{{theme_url}}/images/covertdt.jpg"  style="width:450px;height:450px;">
                            </a>
                        </div>
                    </div> 
                </div>
            </div>
        </div> 
    {% endblock %}
{% endembed %}