<div class="ateliers">
    <div class="row">
        <div class="col-lg-12">
                <h1>Coucou les petits loups</h1>
			<div class="fluidCont">
				{{ page.content }}
			</div>
        </div>
		
    </div>
</div>