
{% embed 'partials/base.html.twig' %}

	{% set collection = page.collection() %}
	{% set base_url = page.url %}
    {% set feed_url = base_url %}

    {% if base_url == '/' %}
        {% set base_url = '' %}
    {% endif %}

    {% if base_url == base_url_relative %}
        {% set feed_url = base_url~'/'~page.slug %}
    {% endif  %}

    {# Custom styles for this theme #}
        {% do assets.add('theme://css/contact.css',100) %}

	{% block content %}
			

		<div class="container">
			<div class="row">
				<div class="col-lg-12 iconesContainerContact">
					<!--- main body -->
					<div class="col-lg-4 col-md-4 col-sm-4 iconeContact" >
						<img src="{{theme_url}}/images/contactmaison.png"  alt="logo maison">
						<p>7 Rue Audran - La Rochelle</p>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 iconeContact">
						<img src="{{theme_url}}/images/contacttel.png"  alt="logo telephone">
						<p>05 46 41 96 07</p>
					</div>
					<div class="col-lg-4 col-md-4  iconeContact">
						<img src="{{theme_url}}/images/contactmail.png" alt="logo mail">
						<p>email@mail.com</p>
					</div>
				</div>
			</div>
		</div>

		
		<div class="container">
			<div class="row">
			
				<div class="col-lg-12">
					<header>
						<h1 class="title">Contactez nous</h1>
					</header>

					<div id="form">
					
						<form id="waterform" method="post">
							<div class="formgroup" id="name-form">
								<label for="name">Your name*</label>
								<input type="text" id="name" name="name" />
							</div>

							<div class="formgroup" id="email-form">
								<label for="email">Your e-mail*</label>
								<input type="email" id="email" name="email" />
							</div>

							<div class="formgroup" id="message-form">
								<label for="message">Your message</label>
								<textarea id="message" name="message"></textarea>
							</div>

							<input type="submit" value="Send your message!" />
						</form>
					</div>

				</div>
				
			</div>
		</div>

    {% endblock %}
{% endembed %}
