<div class="polaroid-list">
    
    <!--<div class="circle"></div>-->
    
	<a>
        <div class="polaroid-vignette">
        </div>
		  {{page.media.images|first.cropZoom(250,250).html('Membre Photo','Photo d\'un membre')}}
		<p class="membreName">
			{{ page.title }}
		</p>
		<!--<p class="membreRole">
			{{ page.content }}
		</p>--->
	</a>
    
</div>