{% set collection = page.collection() %}

<h1>Notre Équipe</h1>

<div class="row">
    <div class="col-lg-12" id="membres">
            <div class="polaroid-images">
                {% for child in collection %}
						{% include 'membre.html.twig' with {'page':child}%}
                {% endfor %}
				
            </div>
    </div>
</div>