<div>

    <div class="row">
		
		<div class="row col-lg-12 col-md-12 " style="margin:0px;">
		
			<div class="col-lg-12 col-md-12  spectacle">
				<div class="col-lg-6  col-md-6 imageZone">

					<ul class="rslides">
					{% for image in page.media.images %}
						<li>
							<a class="fancybox" rel="{{page.title}}" href="{{image.url}}">
							{{image.cropZoom(500,350).quality(100).html('Spectacle Photo','Photo d\'un spectacle')}}
							</a>
						</li>
					{% endfor %}
					</ul>
				</div>
			
				<div class="col-lg-6 col-md-6 textZone">
				
					<h2>{{ page.title }}</h2>

				
					<p>{{ page.content }}</p>
				</div>
			
			</div>
		</div>
		
    </div>
</div>