{% set collection = page.collection() %}

	<h1>Nos spectacles</h1>
    <div class="row">
        <div class="col-lg-12">
            {% for child in collection %}
                {% include 'spectacle.html.twig' with {'page':child}%}
            {% endfor %}
        </div>
    </div>

