
{% embed 'partials/base.html.twig' %}

    {% set collection_spectacle = page.collection().ofType('spectacle_collection') %}
    {% set collection_atelier = page.collection().ofType('atelier') %}

	{% set base_url = page.url %}
    {% set feed_url = base_url %}

    {% if base_url == '/' %}
        {% set base_url = '' %}
    {% endif %}

    {% if base_url == base_url_relative %}
        {% set feed_url = base_url~'/'~page.slug %}
    {% endif  %}

    {# Custom styles for this theme #}
        {% do assets.add('theme://css/troupeecole.css',100) %}
		{% do assets.add('theme://css/responsiveslides.css',100) %}
		{% do assets.add('theme://css/table.css',100) %}
		{% do assets.add('theme://css/spectacle.css',100) %}
		{% do assets.add('theme://js/responsiveslides.min.js',100) %}

	{% block content %}
        <script>
			$(function() {
				$(".rslides").responsiveSlides();
			});
			$(document).ready(function() {
				$(".fancybox").fancybox();
			});
		</script>
        <div class="container">
            
            <div class="row">
                <div class="col-lg-12">
                    <!--- PRESENTATION COMPAGNIE & EQUIPE -->
                    <p>{{page.content}}</p>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-12">                    

                    {% for child in collection_atelier %}
                            {% include 'atelier.html.twig' with {'page':child}%}
                        {% endfor %}

                        {% for child in collection_spectacle %}
                                {% include 'spectacle_collection.html.twig' with {'page':child}%}
                        {% endfor %}
                </div>
            </div>
        </div>
    {% endblock %}
{% endembed %}